<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
	<!-- Sweet Alert -->
	<script src="lib/sweet-alert.min.js"></script> <link rel="stylesheet" type="text/css" href="lib/sweet-alert.css">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script> 
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<!-- App javascript -->
	<script src="app.js"></script>
	<title>Tic Tac Toe</title>
</head>
<body>
	<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
  <iframe frameborder="0" height="100%" width="100%" 
    src="https://youtube.com/embed/SVLiLMAywNM?autoplay=1&loop=1&controls=0&showinfo=0&autohide=1">
  </iframe>
</div>
	<div ng-controller="TTTController">  <!-- initialize the controller -->
		<div class="bodyTitle"> <h1> 2 Player Tic Tac Merry Half Christmas </h1> 
			<h2 ng-bind="'You are player ' + gameContainer.numPlayers">{{gameContainer.playerNum}} </h2>
		</div>
		<div class="container">
				<div class="theBox"> 
					<div class="cells" ng-repeat="thisCell in gameContainer.cellList" ng-click="playerAlternator(thisCell)" ng-class="{
					iAmX: thisCell.status == 'X', iAmO: thisCell.status == 'O'}">	
					</div>
				</div>
		</div>
		<div class="wincounter" ng-model="TTTController">
			<p class="winz">Karl Win Counter: {{gameContainer.player1winsCounter}}</p>
			<p class="winz">Jetset Win Counter: {{gameContainer.player2winsCounter}}</p>
		</div>
	</div>

	
</body>
</html>



