body{
	/*background-image:url("http://personaldopeness.files.wordpress.com/2012/08/workaholics_3-2_full.jpg");
	background-image:url("http://www.fanaru.com/workaholics/image/7026-workaholics-workaholics.jpg");
	background-size:110%;
	background-repeat:no-repeat;*/
}
.container{
	width: 468px;
	height: 468px;
	border: 1px solid black;
	margin: auto auto;
	z-index: -1;
}

.theBox {
	margin: auto, auto;
	float: left;
	width: 468px;
	height: 468px;
	border: 1px solid black;
}

.cells{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	float: left;
	margin:2px;
	padding:0px;
}

.iAmX{
	background-image: url("images/karl.jpg");
	background-color: white;
	background-position: center;
	background-size: 150px 150px;
	opacity: .9;
}

.iAmO{
	background-image: url("images/jetset.jpg");
	background-position: center;
	background-size: 150px 150px;
	opacity: .9;
}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}
h2{
	text-align: center;
}
.character1{
	width:465px;
	height:155px;
	border: 1px solid black;
	margin: 0 auto;
	float:left;

}

.inner{
	position:relative;
	float:left;
	margin:0 auto;
}

.trio{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	float: left;
	background-position: center;
	background-size: 150px 150px;
	margin: 1px ;

}
#blake{
	background-image: url("images/blake.jpg");
}

#ders{
	background-image: url("images/ders.jpg");
}

#adam{
	background-image: url("images/adam.jpg");
}

#karl{
	background-image: url("images/karl.jpg");
}

#jetset{
	background-image: url("images/jetset.jpg");
}

#jillian{
	background-image: url("images/jillian.jpg");
}
#waymond{
	background-image: url("images/waymond.jpg");
}
#montez{
	background-image: url("images/montez.jpg");
}
#alice{
	background-image: url("images/alice.jpg");
}
#letsgetweird{
	background-image: url("images/letsgetweird.gif");
	background-repeat: no-repeat;
}
.wincounter{
	width:465px;
	height:100px;
	margin: auto auto;
}